.container {
    max-width: 1200px;
    margin: auto;
    /* padding: 0 20px; */
}

.wrapper {
   margin: 40px auto;
}

.cardwrapper {
    display: flex;
    flex-direction: row;
}

.number {
    font-size: 134px;
    text-shadow: 1px 1px 1px black;
}

.title {
    font-size: 46px;
    margin-bottom: 40px;
}

.stepsContainer {
    display: flex;
    flex-direction: row;
}

.step {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.stepContent {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.stepTitle {
    font-weight: 200;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stepDescription {
    font-weight: 300;
}

.number1 {
    color: #C4F7A1;
}

.number2 {
    color: #b5eaff;
}

.number3 {
    color: #ffb3d5;
}

@media (max-width: 768px) {
    .stepsContainer {
        flex-direction: column;
    }

    .step {
        margin: 20px 0;
    }
}