.container {
    max-width: 1600px;
    margin: auto;
    margin-top: 24px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.subtitle {
    padding: 4;
    margin: 8;
    font-size: 21px;
    font-weight: 300;
}

.cardContainer {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 1400px;
    margin: auto;
}

.pricingCard {
    flex: 1;
    margin: 10px;
    border: 1px solid var(--black);
    box-shadow: 2px 2px 0px 0px var(--black);
    min-height: 600px;
    min-width: 360px;
    max-width: 300px;
}

.pricingHeader {
    background-color: var(--green);
    padding: 6px;
    font-weight: 400;
    font-size: 14px;
}

.bgPink {
    background-color: var(--pink);
}

.bgBlue {
    background-color: var(--blue);
}

.bgBlack {
    background-color: var(--black);
    color: var(--bg);
}

.textGreen {
    color: var(--black);
    /* text-shadow: 2px 2px 1px var(--green); */
}
