.container {
  max-width: 1600px;
  margin: auto;
}


.a {
    text-decoration: none;
    color: var(--black);
}

.buttonsWrapper {
    display: flex;
    align-items: center;
}

.number {
    font-size: 134px;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--nav-text);
}
.logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--nav-text);
}




.subtitle {
 margin-bottom: 10px;
}

.imageContainer {
    width: 100%;   /* takes up the full width of the parent */
    height: 100%;  /* takes up the full height of the parent */
    overflow: hidden;  /* hides any overflow */
    display: flex;
    justify-content: center; /* center the image horizontally */
    align-items: center;
}

.logoDiv {
    height: 110px;
    /* background-color: var(--pinkLight); */
    /* border: solid 4px var(--pink); */
}

.logoDiv2 {
    height: 72px;
    background-color: var(--green);
    cursor: pointer;
}

.carousel {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
  
  .carouselInner {
    display: inline-flex;
    animation: scroll infinite 16s linear;
  }

  .carouselInner2 {
    display: inline-flex;
    animation: scroll infinite 46s linear;
  }
  
  .carouselItem, .carouselItem2 {
    flex: 0 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    box-sizing: border-box;
    font-size: 36px;
    font-weight: bold;
    color: var(--black);
  }

  .carouselItem2 {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 300;
    /* font-family: Belgiano; */
    color: var(--black);
  }
@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%); /* Move it by 50% to give the appearance of infinite scroll */
    }
  }